@import '~scss/variables.scss';
.nav-bar {
  box-shadow: 0px 10px 20px $dark5;
  background-color: $white;
  margin-bottom: 40px;
}
.nav-bar .container {
  display: flex;
  align-items: center;
  max-width: 1160px;
  justify-content: space-between;
  margin: auto;
}
.nav-bar .preview-fonts {
  flex-direction: row;
  margin-left: auto;
}
.nav-bar .preview-fonts__item {
  margin-bottom: 0;
  margin-right: 20px;
  align-items: center;
}
.nav-bar .logo_ui-kit {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
}
.nav-bar .preview-fonts__text { 
  text-decoration: none;
}
.nav-bar  .preview-fonts__item_body .preview-fonts__text {
  color: $dark50;
  line-height: 17px;
  display: flex;
  margin: auto;
}
.nav-bar .preview-fonts__item_h3 .preview-fonts__text {
  text-transform: none;
  font-size: 14px;
  line-height: 17px;
  color: $dark75;
}
.nav-bar .preview-fonts__item:nth-child(1) .material-icons, .nav-bar .preview-fonts__item:nth-child(3) .material-icons, .nav-bar .preview-fonts__item:nth-child(4) .material-icons {
  display: none;
}
.nav-bar .material-icons {
  height: 21px;
  align-self: baseline;
}
.nav-bar__item {
  list-style: none;
  display: flex;
}
.nav-bar__item .button_bordered {
  padding-top: 7px;
  padding-bottom: 8px;
  margin-right: 20px;
}
.nav-bar__item .button_filled {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 19px;
}
.nav-bar_logged .nav-bar__item .preview-fonts__item {
  position: relative;
  padding-left: 20px;
}
.nav-bar_logged .nav-bar__item .preview-fonts__item::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 30px;
  left: 0;
  background: rgba(31, 32, 65, 0.1);
}