mixin preview-fonts(fonts)
  .preview-fonts
    each item in fonts
      - const { name, text, mod } = item;
      .preview-fonts__item(class= mod&&`preview-fonts__item_${mod}`)
        .preview-fonts__name= name
        .preview-fonts__text!= text
