@import '~scss/variables.scss';
@import '~scss/mixins.scss';
$border-size: 2px;
$padding-y: 14px;
$padding-x: 20px;
$padding-y-small: 10px;
$border-radius: 22px;
$gradient: linear-gradient(
  180deg,
  $purple 0%,
  rgba(139, 164, 249, 1) 100%
);
$gradient-white: linear-gradient(white, white);
$gradient-50: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.5) 0%,
  rgba(139, 164, 249, 0.5) 100%
);

.button {
  padding: $padding-y $padding-x;
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
  color: $purple;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  &:hover {
    color: $dark50;
  }
  &_small {
    padding: 0;
    margin-right: 20px;
    margin-left: 1px;
  }
  &_small-hover {
    color: $dark50;
  }
  &_bordered {
    padding: $padding-y - $border-size $padding-x - $border-size;
    border: solid $border-size transparent;
    border-radius: $border-radius;
    background-image: $gradient-white, $gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    -webkit-background-clip: padding-box, border-box;
    &:hover {
      color: $purple;
      background-image: $gradient-white, $gradient-50;
    }
  }
  &_bordered-hover {
    color: $purple;
    background-image: $gradient-white, $gradient-50;
  }
  &_small.button_bordered  {
    padding: $padding-y-small - $border-size $padding-x - $border-size;
  }
  &_filled {
    color: $white;
    border-radius: $border-radius;
    background: $gradient;
    padding-top: $padding-y;
    padding-bottom: $padding-y + 1;
    padding-left: $padding-x - 1;
    padding-right: $padding-x + 1;
    &:hover {
      color: $white;
      background: $gradient-50;
    }
  }
  &_full-width {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 22px;
    .material-icons {
      position: absolute;
      right: 0;
      top: 0;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }
  &_filled-hover {
    color: $white;
    background: $gradient-50;
  }
}
.buttons {
  list-style: none;
  @include flex-between;
  flex-wrap: wrap;
}
.buttons > li {
  margin-bottom: 29px;
}
.buttons-list {
  list-style: none;
  display: flex;
}
