mixin button(text, classes)
  li(class!=attributes.class)
    if withIcon == true
      i(class='material-icons') arrow_forward
      button.button(class=classes)= text
    if withIcon == false
      button.button(class=classes)= text
