mixin button(text, classes)
  li(class!=attributes.class)
    if link
      a.button(href=link, class=classes && classes)= text
    else
      if withIcon === true
        i(class='material-icons') arrow_forward
        button.button(class=classes)= text
      else
        button.button(class=classes)= text
