include ../find-room/find-room.pug
.promo
  //ошибка в следующей строчке
  +find-room('Найдём номера под ваши пожелания')(class='cards-left-column__item form-elements-right-column form-elements-center-column')
  