@import '~scss/variables.scss';
$colors: (
  dsh100: $dark,
  dsh75: $dark75,
  dsh50: $dark50,
  dsh25: $dark25,
  dsh5: $dark5,
  purple: $purple,
  green: $green,
);
.preview-colors {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__desctiption {
    margin-left: 40px;
    font-family: 'Quicksand';
    font-size: 19px;
    line-height: 1.5;
  }

  &__name {
    font-weight: bold;
  }

  &__code {
  }

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: $dark;
    @each $mod, $color in $colors {
      &_#{$mod} {
        background: $color;
      }
    }
  }
}
