include ../find-room/find-room.pug
include ../registration/registration.pug
- var lessThanOne = true
ul(class="preview-text-field cards-left-column")
  +find-room('Найдём номера под ваши пожелания')(class='cards-left-column__item')
  +registration('Регистрация аккаунта')(class='cards-left-column__item')