@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 $padding;
  @include media-up($xl) {
    max-width: $xl;
  }
  &_outer {
    padding: 0;
    @include media-up($xxl) {
      max-width: $xxl;
      padding: 0 $padding;
    }
  }
  &_form .logo_ui-kit, &_card .logo_ui-kit {
    padding-left: 10px;
  }
  &_card {
    background-color: #F4F4F6;
  }
  &_cards {
    display: flex;
    margin-top: 72px;
  }
  &_ui-kit {
    display: grid;
    grid-template-columns: 446px 392px auto;
    margin-top: 65px;
  }
}
