mixin calendar(name, style, placeholder)
  li(class!=attributes.class)
    input(type="text" placeholder="Select Date.." data-input id="flat")
    ul.buttons-list
      +button('очистить', 'button_small button_small-hover')
      +button('применить', 'button_small')