@import '~scss/variables.scss';
#flat {
    display: none;
}
.flatpickr-calendar {
  width: auto;
}
.flatpickr-rContainer {
  width: 100%;
}
.dayContainer {
  min-width: 280px;
  max-width: 280px;
}
.preview-text-field__item .flatpickr-months .material-icons {
  line-height: 20px;
  color: $purple;
  justify-content: unset;
  width: 24px;
  height: 24px;
}
.flatpickr-calendar.inline {
  padding: 20px;
}
.flatpickr-months .flatpickr-prev-month {
  padding-top: 0px;
  padding-left: 0px;
  position: static;
}
.flatpickr-months .flatpickr-next-month {
  padding-top: 0px;
  padding-right: 0px;
  position: static;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: none;
  font-family: 'OpenSans';
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark;
  padding-left: 0;
}
.flatpickr-current-month input.cur-year {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark;
}
span.flatpickr-weekday {
  font-size: 12px;
  line-height: 15px;
}
.flatpickr-current-month {
  padding-top: 0;
  width: auto;
  position: static;
  display: flex;
  align-items: flex-start;
}
.flatpickr-months .flatpickr-month {
  position: static;
  -webkit-flex: inherit;
}
.flatpickr-months {
  justify-content: space-between;
}
.flatpickr-current-month .numInputWrapper {
  width: 44px;
}