@import '~scss/variables.scss';
#flat {
    display: none;
}
.flatpickr-calendar {
  width: auto;
  box-shadow: 0px 10px 20px $dark5;
  border: 1px solid $dark25;
  border-radius: 4px;
}
.flatpickr-rContainer {
  width: 100%;
}
.dayContainer {
  min-width: 280px;
  max-width: 280px;
}
.preview-text-field__item .flatpickr-months .material-icons, .flatpickr-months .material-icons {
  line-height: 20px;
  color: $purple;
  justify-content: unset;
  width: 24px;
  height: 24px;
}
.flatpickr-calendar.inline {
  padding: 20px;
  padding-bottom: 19px;
  top: 0;
}
.flatpickr-months .flatpickr-prev-month {
  padding-top: 0px;
  padding-left: 0px;
  position: static;
}
.flatpickr-months .flatpickr-next-month {
  padding-top: 0px;
  padding-right: 0px;
  position: static;
}
.flatpickr-current-month span.cur-month {
  font-family: 'OpenSans';
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark;
  margin-left: 0;
}
.flatpickr-current-month input.cur-year {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark;
}
span.flatpickr-weekday {
  font-size: 12px;
  line-height: 15px;
  color: $purple;
}
.flatpickr-current-month {
  padding-top: 0;
  width: auto;
  position: static;
  display: flex;
  align-items: flex-start;
}
.flatpickr-months .flatpickr-month {
  position: static;
  flex: inherit;
}
.flatpickr-months {
  justify-content: space-between;
  margin-bottom: 18px;
}
.flatpickr-current-month .numInputWrapper {
  width: 45px;
}
.flatpickr-weekdays {
  height: 40px;
}
.rangeMode .flatpickr-day {
  height: 40px;
  max-width: 40px;
  margin-top: 0;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.flatpickr-day.prevMonthDay {
  color: $dark25;
}
.flatpickr-day {
  color: $dark50;
}
.flatpickr-day.today {
  font-weight: bold;
  background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
  color: $white;
  border: none;
  border-radius: 22px;
}
.flatpickr-day.selected.startRange, .flatpickr-day.selected.endRange {
  font-weight: bold;
  border-radius: 22px;
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
  border: none;
  z-index: 1;
}
.flatpickr-day.inRange {
  background: #bc9cff40;
  box-shadow: 0px 0 0 #bc9cff40, 0px 0 0 #bc9cff40;
  border: none;
}
.flatpickr-day.selected.startRange + .inRange {
  box-shadow: -19px 0 0 #bc9cff40, 0px 0 0 #bc9cff40;
}
.flatpickr-calendar .button_small {
  margin-left: 0;
}
.flatpickr-input[readonly] {
  width: 100%;
  height: 44px;
  border: 1px solid $dark25;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
  padding-left: 14px;
}
.flatpickr-calendar.animate.open {
  padding: 20px;
  padding-bottom: 19px;
  max-width: 320px;
}