@import '~scss/mixins.scss';
.rate-button {
  list-style: none;
  @include flex-between;
  margin-top: 16px;
}
.rate-button button {
  display: flex;
  background-color: transparent;
  border: none;
}
.rate-button .material-icons {
  line-height: 20px;
  color: $purple;
  height: 24px;
  display: flex;
  align-items: center;
}