mixin rate-button(name)
  li(class!=attributes.class)
    b.form-elements-center-column__item-name= name
    ul(class='rate-button')
      li
        button
          i(class='material-icons') star
          i(class='material-icons') star
          i(class='material-icons') star
          i(class='material-icons') star
          i(class='material-icons') star_border
      li(class='rate-button__item')
        button
          i(class='material-icons') star
          i(class='material-icons') star
          i(class='material-icons') star
          i(class='material-icons') star
          i(class='material-icons') star