extends ../../layouts/form-layout.pug

block title
  | Form Elements
block content
  include ../../blocks/preview-text-field/preview-text-field.pug
  include ../../blocks/form-elements-center-column/form-elements-center-column.pug