// Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(./iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(./iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// FontAwesome
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
//@import "~@fortawesome/fontawesome-free/scss/regular.scss";
//@import "~@fortawesome/fontawesome-free/scss/solid.scss";

/* montserrat-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./Montserrat/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Montserrat/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
       url('./Montserrat/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Montserrat/Montserrat-Regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./Montserrat/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('./Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Montserrat/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
       url('./Montserrat/Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./Montserrat/Montserrat-Bold.svg#Montserrat') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Quicksand';
  src: url('./quicksand/quicksand-bold.woff2') format('woff2'),
    url('./quicksand/quicksand-bold.ttf') format('truetype'),
    url('./quicksand/quicksand-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./quicksand/Quicksand-Regular.eot');
  src: url('./quicksand/Quicksand-Regular.woff') format('woff'),
    url('./quicksand/Quicksand-Regular.ttf') format('truetype'),
    url('./quicksand/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./open-sans/open-sans-regular.svg') format('svg'),
    url('./open-sans/open-sans-regular.ttf') format('truetype'),
    url('./open-sans/open-sans-regular.woff') format('woff'),
    url('./open-sans/open-sans-regular.woff2') format('woff2'),
    url('./open-sans/open-sans-regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./open-sans/open-sans-bold.svg') format('svg'),
    url('./open-sans/open-sans-bold.ttf') format('truetype'),
    url('./open-sans/open-sans-bold.eot') format('embedded-opentype'),
    url('./open-sans/open-sans-bold.woff') format('woff'),
    url('./open-sans/open-sans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'slick';
  src: url('./slick/slick.svg') format('svg'),
    url('./slick/slick.ttf') format('truetype'),
    url('./slick/slick.eot') format('embedded-opentype'),
    url('./slick/slick.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}