.pages
  .page
    a(href='colors-type.html') Color & type
  .page
    a(href='form-elements.html') Form Elements
  .page
    a(href='cards.html') Cards
  .page
    a(href='headers_and_footers.html') Headers & Footers