@import '~scss/variables.scss';
@import '~scss/mixins.scss';

.colors-type {
  margin-top: 27px;
  display: flex;
  flex-direction: column;

  @include media-up($md) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__colors {
    margin: 40px auto 0;
    padding-left: 30px;
    @include media-up($md) {
      margin-left: 0;
    }
  }

  &__fonts {
    margin: 40px auto 0;
    @include media-up($md) {
      padding-right: 31px;
      margin-right: 0;
    }
  }
}
