extends ../../layouts/headers_and_footers-layout.pug

block title
  | Headers & Footers
block content
  - var logged = false
  include ../../blocks/nav-bar/nav-bar.pug
  -var logged = true
  include ../../blocks/nav-bar/nav-bar.pug
  include ../../blocks/footer/footer.pug
  -var footerCreative = true
  include ../../blocks/footer/footer.pug