@import '~scss/variables.scss';
@import '~scss/mixins.scss';
.preview-text-field {
  list-style: none;
  min-width: 320px;
  margin-right: 126px;
}
.preview-text-field__item {
  margin-bottom: 20px;
  position: relative;
}
.preview-text-field__item_half-width {
  min-width: 150px;
}
.preview-text-field__item_half-width:first-child .select2-selection__rendered{
  line-height: 18px;
}
.preview-text-field__item_half-width .select2 {
  max-width: 150px;
}
.preview-text-field__item:nth-child(n+4) {
  margin-bottom: 40px;
}
.preview-text-field__item:nth-child(1) {
  margin-bottom: 20.5px;
}
.preview-text-field__item:nth-child(1) .preview-text-field__item-style, .preview-text-field__item:nth-child(4) .preview-text-field__item-style {
  margin-top: -3px;
}
.preview-text-field__item:nth-child(3) {
  margin-bottom: 22px;
}
.preview-text-field__item:nth-child(5), .preview-text-field__item:nth-child(6) {
  margin-bottom: 41px;
}
.form-elements-center-column .preview-text-field__item {
  margin-bottom: 254px;
}
.preview-text-field__item:nth-child(7) {
  margin-bottom: 100px;
}
.preview-text-field__item:nth-child(8), .preview-text-field__item:nth-child(10) {
  margin-bottom: 20px;
}
.preview-text-field__item:nth-child(11) .preview-text-field__wrap {
  margin-bottom: 2px;
}
.preview-text-field__item:nth-child(8) .preview-text-field__item-input {
  border-radius: 2px;
}
.preview-text-field__item_opacity75 .material-icons {
  color: $dark75;
}
.preview-text-field__list {
  list-style: none;
  @include flex-between;
}
.preview-text-field__wrap {
  @include flex-between;
  margin-bottom: 5px;
}
.preview-text-field__list .preview-text-field__item{
  margin-bottom: 0;
}
.preview-text-field__item-name, .preview-text-field__item-style {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark;
}
.preview-text-field__item-style {
  color: $dark50;
}
.preview-text-field__item-input {
  width: 100%;
  border: 1px solid $dark25;
  border-radius: 4px;
  min-height: 44px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Montserrat';
  -webkit-appearance: none;
}
.preview-text-field__item-input:hover, .preview-text-field__item-input:focus, .preview-text-field__item_hover .preview-text-field__item-input{
  border-color: $dark50;
  outline: none;
  line-height: 24px;
}
.preview-text-field__item-input:hover::placeholder, .preview-text-field__item-input:focus::placeholder, .preview-text-field__item_hover .preview-text-field__item-input::placeholder {
  color: $dark75;
}
.preview-text-field__item-input::placeholder {
  font-family: 'Montserrat';
  color: $dark25;
}
.preview-text-field__item_two-third-width {
  max-width: 266px;
}
.preview-text-field__item_two-third-width .preview-text-field__item-input{
  background-color: transparent;
}
.preview-text-field__item_subscription .material-icons {
  color: $purple;
}
.preview-text-field__item:nth-child(9) {
  margin-bottom: 159px;
}
.preview-text-field__item:nth-child(11) {
  margin-bottom: 102px;
}
.preview-text-field__item_full-width {
  max-width: 320px;
}
.preview-text-field__item:nth-child(12) {
  margin-bottom: 131px;
}