@import '~scss/variables.scss';
@import '~scss/mixins.scss';
.preview-text-field__item:first-child .preview-text-field__item-input.preview-text-field__item-input_dropdown {
  line-height: 18px;
}
.preview-text-field__item__half-width .preview-text-field__item-input_dropdown {
  line-height: 18px;
}
.preview-text-field__item .material-icons {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  color: $dark50;
}
.select2, .select2-selection, .select2-selection__rendered, .select2-container .select2-selection--multiple {
  min-height: 44px;
}
.select2-container--default .select2-selection--single {
  @include button-border;
}
.select2-selection__arrow, .select2-search--dropdown {
  display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $dark75;
}
.preview-text-field_item__opacity75 .select2-container--default .select2-selection--single {
  border-radius: 2px;
}
.preview-text-field__item_open .select2-container--default .select2-selection--single {
  border-color: $dark50;
}
.preview-text-field__item_open {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.select2-results__option {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark;
  padding-left: 14px;
  padding-top: 0;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select2-results__option:last-child {
  padding-bottom: 6px;
}
.select2-results__option:last-child .dropdown__button:first-child, body > span:nth-child(7) .select2-results__option:not(:last-child) .dropdown__button:first-child, body > span:nth-child(8) .select2-results__option:nth-child(3) .dropdown__button:first-child {
  opacity: 0.38;
}
.dropdown__apply {
  color: $purple;
  padding-top: 13px;
  padding-bottom: 6px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat';
  line-height: 15px;
}
.select2-results__option:first-child {
  padding-top: 6px;
}
.dropdown__button {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  @include button-border;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 22px;
  color: $dark50;
}
.dropdown {
  width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select2-dropdown {
  border-color: $dark50;
}
.dropdown__apply_cancel {
  color: $dark50;
}
body > span:nth-child(6) .select2-dropdown, body > span:nth-child(5) .select2-dropdown {
  box-shadow: 0px 10px 20px $dark5;
}
.select2-container .select2-search--inline .select2-search__field {
  width: 100%!important;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
  margin-left: 15px;
  margin-top: 8px;
}