@import '~scss/variables.scss';
.preview-text-field__item:first-child .preview-text-field__item-input.preview-text-field__item-input_dropdown {
  line-height: 18px;
}
.preview-text-field__item__half-width .preview-text-field__item-input_dropdown {
  line-height: 18px;
}
.preview-text-field__item .material-icons {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  color: $dark50;
}
.select2, .select2-selection, .select2-selection__rendered {
  min-height: 44px;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 1px solid $dark25;
}
.select2-selection__arrow, .select2-search--dropdown {
  display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
}