@import '~scss/variables.scss';
@import '~scss/mixins.scss';
.checkbox-list {
  list-style: none;
  display: none;
}
.checkbox-list input {
  display: none;
}
.checkbox-list label {
  font-size: 14px;
  line-height: 18px;
  color: $dark50;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox-list .checkbox-list__custom-checkbox {
  width: 20px;
  height: 20px;
  @include button-border;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox-list input:checked + span {
  border-color: $purple;
  background-image: url("vector.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 4px;
}
.checkbox-list .checkbox-list__custom-checkbox_radio {
  width: 10px;
  height: 10px;
  background-color: $dark25;
  border: none;
}
.checkbox-list input[type="radio"]:checked + span {
  background-color: $purple;
  background-image: none;
}
.checkbox-list__item label {
  align-items: normal;
}