mixin checkbox-list(name, style, label, label1, value1, label2, value2, label3, value3, label4, label5)
  li(class!=attributes.class)
    label
      i(class='material-icons') expand_more
      = name
      input(type="checkbox")
      ul(class='checkbox-list')
        li
          label
            input(type="checkbox")
            span(class='checkbox-list__custom-checkbox')
            =label
        li
          label
            input(type="checkbox" checked)
            span(class='checkbox-list__custom-checkbox')
            =label1
        li
          label
            input(type="checkbox" checked)
            span(class='checkbox-list__custom-checkbox')
            =label2
        li
          label
            input(type="checkbox" checked)
            span(class='checkbox-list__custom-checkbox')
            =label3
        li
          label
            input(type="checkbox")
            span(class='checkbox-list__custom-checkbox')
            =label4
        li
          label
            input(type="checkbox")
            span(class='checkbox-list__custom-checkbox')
            =label5