@import '~scss/variables.scss';
.cards-right-column.preview-text-field {
  margin-right: 0;
  max-width: 320px;
}
.cards-right-column .buttons-list{
  justify-content: space-between;
  background: $white;
  padding-top: 20px;
  line-height: 15px;
}
.cards-right-column .button_small {
  margin-right: 0;
}
.cards-right-column__item {
  max-width: 270px;
  box-shadow: 0px 10px 20px $dark5;
}
.cards-right-column .preview-text-field__item:nth-child(1) {
  margin-bottom: 40px;
}