include ../calendar/calendar.pug
include ../slider/slider.pug
- var withIcon = false;
- var fiveStars = true;
ul(class="preview-text-field cards-right-column")
  +calendar('', '', 'ДД.ММ.ГГГГ')(class="preview-text-field__item")
  +slider('№ ',' 888', 'люкс', '9 990₽', 'в сутки', '145','image.png')(class='cards-left-column__item cards-right-column__item')
  - var fiveStars = false;
  +slider('№ ',' 840', '', '9 900₽', 'в сутки', '65','image1.png')(class='cards-left-column__item cards-right-column__item')