include ../checkbox-buttons/checkbox-buttons.pug
include ../rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../like-button/like-button.pug
include ../comment/comment.pug
include ../rate-button/rate-button.pug
include ../dropdown/dropdown.pug
- var withoutTitle = false;
ul(class = "preview-text-field").form-elements-center-column 
  +checkbox-buttons('Checkbox Buttons','Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)')(class="form-elements-center-column__item form-elements-center-column__item_checkbox-list-open")
  +radio-buttons('Radio Buttons','Мужчина', 'Женщина', 'male', 'female')(class="form-elements-center-column__item")
  li(class="form-elements-center-column__item form-elements-center-column__item_two-third-width form-elements-center-column__item_checkbox-list-open")
    b.form-elements-center-column__item-name| Toggle
    ul(class='checkbox-list')
      li
        +toggle('Получать спецпредложения', 'checked')
      li
        +toggle('Получать спецпредложения', '')
  +like-button('like button','2', '12')(class="form-elements-center-column__item form-elements-center-column__item_one-third-width")
  +rate-button('rate button','2', '12')(class="form-elements-center-column__item form-elements-center-column__item_two-third-width")
  - var lessThanOne = false;
  +dropdown('dropdown', '', 'Сколько гостей','взрослые','0', 'дети','0', 'младенцы','0', 'применить', 'применить')(class="preview-text-field__item preview-text-field__item_opacity75 preview-text-field__item_open")
  +rich-checkbox-buttons('Rich Checkbox Buttons','Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.')(class="form-elements-center-column__item form-elements-center-column__item_checkbox-list-open form-elements-center-column__item_checkbox-list-rich")
  +comment('Мурад Сарафанов','5 дней назад', '12','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')(class="form-elements-center-column__item form-elements-center-column__item_two-width")