include ../checkbox-buttons/checkbox-buttons.pug
ul.form-elements-center-column
  +checkbox-buttons('Checkbox Buttons')(class="preview-text-field__item preview-text-field__item_two-third-width preview-text-field__item_checkbox-list")