@import '~scss/variables.scss';
.form-elements-center-column {
  margin-top: -3px;
}
.form-elements-center-column.preview-text-field {
  list-style:none;
  flex-grow: 1;
  margin-right: 72px;
}
.form-elements-center-column__item {
  max-width: 222px;
  margin-bottom: 40px;
}
.form-elements-center-column__item:nth-child(2), .form-elements-center-column__item:nth-child(4) {
  margin-bottom: 36px;
}
.form-elements-center-column__item:nth-child(3) {
  margin-bottom: 38px;
}
.form-elements-center-column__item:nth-child(5) {
  margin-bottom: 195px;
}
.form-elements-center-column__item:nth-child(7) {
  margin-bottom: 230px;
}
.form-elements-center-column__item_two-third-width {
  max-width: 260px;
}
.form-elements-center-column__item_two-third-width .checkbox-list__custom-checkbox {
  width: 40px;
  border-radius: 10px;
}
.form-elements-center-column__item_two-third-width input + span {
  position: relative;
}
.form-elements-center-column__item_two-third-width input:checked + span {
  background: none;
}
.form-elements-center-column__item_two-third-width input + span::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: $dark25;
  position: absolute;
  border-radius: 10px;
  top: 3px;
  left: 3px;
}
.form-elements-center-column__item_two-third-width input:checked + span::after {
  left: 23px;
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
}
.form-elements-center-column__item_two-third-width label {
  line-height: 24px;
  color: $dark75;
}
.form-elements-center-column__item_one-third-width {
  max-width: 90px;
}
.form-elements-center-column__item_two-width > div {
  display: flex;
}
.form-elements-center-column__item_two-width {
  max-width: none;
  width: 711px;
}