mixin toggle(label, status)
  if status == ''
    label.toggle
      input(type="checkbox")
      span(class="checkbox-list__custom-checkbox")
      =label
  if status !== ''
    label.toggle
      input(type="checkbox" checked)
      span(class="checkbox-list__custom-checkbox")
      =label