include ../dropdown/dropdown.pug
include ../button/button.pug
include ../../blocks/preview-fonts/preview-fonts.pug
- var withIcon = true;
mixin room(number, name, name1, number2, name2)
  li(class!=attributes.class)
    ul.room
      li.room__item
        ul.room__list
          +preview-fonts(number, name)(class="preview-fonts__item preview-fonts__item_h1")
          +preview-fonts('', name1)(class="preview-fonts__item preview-fonts__item_h3")
          +preview-fonts(number2, name2)(class="preview-fonts__item preview-fonts__item_body")
      li.find-room__item
        ul.preview-text-field__list
          +dropdown('прибытие', '', '19.08.2019')(class="preview-text-field__item preview-text-field__item_half-width")
          +dropdown('выезд', '', '23.08.2019')(class="preview-text-field__item preview-text-field__item_half-width")
      +dropdown('гости', '', '3 гостя')(class="preview-text-field__item")
      li.room__item
        ul.room__list
          +preview-fonts('', '39 960₽')(class="preview-fonts__item preview-fonts__item_body")
          +preview-fonts('', '9 990₽ х 4 суток')(class="preview-fonts__item preview-fonts__item_body")
      li.room__item
        ul.room__list
          +preview-fonts('i', 'Сбор за услуги: скидка 2 179₽')(class="preview-fonts__item preview-fonts__item_body")
          +preview-fonts('', '0₽')(class="preview-fonts__item preview-fonts__item_body")
      li.room__item
        ul.room__list
          +preview-fonts('i', 'Сбор за дополнительные услуги')(class="preview-fonts__item preview-fonts__item_body")
          +preview-fonts('', '300₽')(class="preview-fonts__item preview-fonts__item_body")
      li.room__item
        ul.room__list
          +preview-fonts('', 'Итого')(class="preview-fonts__item preview-fonts__item_h2")
          li
            hr
          +preview-fonts('', '38 081₽')(class="preview-fonts__item preview-fonts__item_h2")
      +button('забронировать', 'button_filled')(class="form-elements-right-column__item form-elements-right-column__item_full-width")