@import '../../scss/variables.scss';
.room {
  list-style: none;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.room .form-elements-right-column__item:nth-child(4) {
  margin-bottom: 0;
}
.room__list {
  display: flex;
  align-items: baseline;
  list-style: none;
}
.room__list .preview-fonts__item {
  margin-bottom: 20px;
}
.room .preview-text-field__item .material-icons {
  z-index: 0;
}
.room > li:nth-child(5) .preview-fonts__item, .room > li:nth-child(6) .preview-fonts__item {
  flex-direction: row-reverse;
}
.room__item:first-child .preview-fonts__item_h1 .preview-fonts__name {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $dark;
  margin-right: 0;
  min-width: unset;
}
.room__item:first-child .room__list .preview-fonts__item:first-child {
  align-items: baseline;
  justify-content: space-between;
  width: 64px;
  margin-right: 5px;
}
.room__item:first-child .room__list .preview-fonts__item:nth-child(2) .preview-fonts__name {
  display: none;
}
.room .preview-fonts__item_h3 .preview-fonts__text {
  color: $purple;
}
.room__item:first-child .room__list .preview-fonts__item:last-child {
  margin-left: auto;
  align-items: baseline;
  width: 100px;
  justify-content: space-between;
}
.room__item:first-child .room__list .preview-fonts__item:last-child .preview-fonts__name  {
  font-weight: bold;
  line-height: 18px;
  color: $dark50;
  margin-right: 0;
}
.room__item:first-child .room__list .preview-fonts__item:last-child .preview-fonts__text {
  font-size: 12px;
  line-height: 18px;
  color: $dark50;
}
.room .preview-text-field__item:nth-child(3) {
  margin-bottom: 21px;
}
.room__item:nth-child(4) .room__list {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.room__item:nth-child(4) .room__list .preview-fonts__name, .room__item:nth-child(5) .room__list li:last-child .preview-fonts__name, .room__item:nth-child(6) .room__list li:last-child .preview-fonts__name, .room__item:nth-child(7) .room__list li .preview-fonts__name {
  display: none;
}
.room__item:nth-child(4) .room__list .preview-fonts__item, .room__item:nth-child(5) .room__list .preview-fonts__item {
  margin-bottom: 10px;
}
.room__item:nth-child(5) .room__list, .room__item:nth-child(6) .room__list, .room__item:nth-child(7) .room__list { 
  align-items: center;
  justify-content: space-between;
}
.room__item:nth-child(5) .room__list li:first-child .preview-fonts__name, .room__item:nth-child(6) .room__list li:first-child .preview-fonts__name {
  border: 1px solid $dark25;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.room__item:nth-child(6) .room__list li:first-child .preview-fonts__name {
  margin-right: 42px;
}
.room__item:nth-child(6) .room__list li:first-child .preview-fonts__text {
  line-height: 18px;
}
.room > li:nth-child(6) .preview-fonts__item {
  margin-bottom: 30px;
}
.room__item:nth-child(7) .room__list li:first-child .preview-fonts__text {
  font-family: 'OpenSans';
}
.room hr {
  border-bottom-width: 0;
  width: 182px;
  border-style: dotted;
  border-color: $dark25;
}
.room__item:nth-child(7) .room__list {
  align-items: baseline;
}