mixin checkbox-buttons(name, label, label1, label2)
  li(class!=attributes.class)
    b.form-elements-center-column__item-name= name
    ul(class='checkbox-list')
      li
        label
          input(type="checkbox")
          span(class="checkbox-list__custom-checkbox")
          =label
      li
        label
          input(type="checkbox" checked)
          span(class="checkbox-list__custom-checkbox")
          =label1
      li.checkbox-list__item
        label
          input(type="checkbox" checked)
          span(class="checkbox-list__custom-checkbox")
          =label2