include ../preview-text-field/preview-text-field.pug
include ../../blocks/preview-fonts/preview-fonts.pug
include ../radio-buttons/radio-buttons.pug
include ../date-picker/date-picker.pug
include ../toggle/toggle.pug
- var withoutIcon = true;
mixin registration(name, label, label1, label2)
  li(class!=attributes.class)
    ul(class="registration")
      +preview-fonts("", name)(class="preview-fonts__item preview-fonts__item_h1")
      +preview-text-field('', '', 'Имя')(class="preview-text-field__item")
      +preview-text-field('', '', 'Фамилия')(class="preview-text-field__item")
      +radio-buttons('','Мужчина', 'Женщина', 'male', 'female')(class="registration__item registration__item_short")
      +date-picker('дата рождения', '', 'ДД.ММ.ГГГГ')(class="preview-text-field__item")
      +preview-text-field('данные для входа в сервис', '', 'Email')(class="preview-text-field__item")
      +preview-text-field('', '', 'Пароль')(class="preview-text-field__item")
      li
        +toggle('Получать спецпредложения', '')
      +button('перейти к оплате', 'button_filled button_full-width')
      li.registration__item
        ul.registration__list
          +preview-fonts("Body", "Уже есть аккаунт на Toxin")(class="preview-fonts__item preview-fonts__item_body")
          +button('войти', 'button_bordered')