@import '~scss/mixins.scss';
.registration {
  list-style: none;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.registration .checkbox-list li:first-child {
  display: none;
}
.registration .preview-fonts__item_h1 .preview-fonts__text {
  font-family: 'OpenSans';
}
.registration .preview-fonts__name {
  display: none;
}
.registration__list {
  list-style: none;
  @include flex-between;
  align-items: center;
}
.registration__list .material-icons {
  display: none;
}
.registration .preview-text-field__item:nth-child(2) .preview-text-field__wrap, .registration .preview-text-field__item:nth-child(3) .preview-text-field__wrap, .registration .preview-text-field__item:nth-child(7) .preview-text-field__wrap {
  margin-bottom: 0;
}
.registration .preview-text-field__item {
  margin-bottom: 10px;
}
.registration .form-elements-center-column__item:nth-child(4) {
  margin-bottom: 20px;
}
.registration .preview-text-field__item:nth-child(5) {
  margin-bottom: 20px;
}
.registration .form-elements-center-column__item_checkbox-list-open .checkbox-list {
  margin-top: 10px;
}
.registration .form-elements-center-column__item_checkbox-list-open {
  margin-bottom: 20px;
}
.registration__item {
  margin-top: 30px;
}
.registration__list li:first-child {
  margin-bottom: 0;
}
.registration__list .preview-fonts__text {
  line-height: 18px;
  color: #000;
}
.registration .button_bordered {
  min-width: 99px;
  padding-bottom: 13px;
}
.registration__item_short {
  max-width: 222px;
  margin-bottom: 20px;
}