.form-elements-right-column {
  list-style: none;
}
.form-elements-right-column__item__item_two-third-width {
  max-width: 266px;
  margin-bottom: 5px;
}
.form-elements-right-column__item_buttons {
  width: 218px;
}
.form-elements-right-column__item_buttons .preview-text-field__wrap {
  margin-bottom: 16px;
}