include ../range-slider/range-slider.pug
include ../button/button.pug
ul(class="preview-text-field").form-elements-right-column 
  +range-slider('Range Slider','5 000₽ - 10 000₽')(class="form-elements-right-column__item form-elements-right-column__item__item_two-third-width")
  +button('buttons', '', 'CLICK ME', 'button_filled')(class="form-elements-right-column__item form-elements-right-column__item_buttons")