@import '~scss/mixins.scss';
.like-button {
  list-style: none;
  @include flex-between;
  margin-top: 16px;
}
.like-button__button {
  width: 40px;
  height: 20px;
  @include button-border;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 12px;
  color: $dark25;
  display: flex;
  align-items: center;
}
.like-button__button .material-icons {
  font-size: 10px;
  line-height: 9px;
  color: $dark25;
  width: 20px;
  height: 20px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}
.like-button__button_pressed, .like-button__button_pressed .material-icons {
  color: $purple;
}
.like-button__button_pressed {
  border-color: $purple;
}
.like-button.comment-block {
  margin-left: 4px;
  margin-top: 9px;
}