include ../blocks/container/container.pug
include ../blocks/logo/logo.pug
doctype html
html(lang="ru")
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css")
    title
      block title
  body(class="container container_outer container_card")
    +logo({'mod': 'ui-kit', 'image':'logo-gray.svg'})
    +container({'mod': 'ui-kit'})
      block content