include ../blocks/container/container.pug
include ../blocks/logo/logo.pug

block variables

doctype html
html(lang="ru")
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    block meta
  body(class=bodyClass && bodyClass, style=bodyStyle && bodyStyle)
    +container({mod:'outer'})
      +logo({'mod': 'ui-kit', 'image':'logo-gray.svg'})
      +container
        block content
